.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ball-container {
  margin: 30px;
  text-align: center;
  vertical-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.ball-black-outer {
  background: radial-gradient(farthest-corner at 40px 40px, #0c162c, black);
  width: 220px;
  height: 220px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  margin: 0 auto;
  animation: bounce 2s ease-in infinite;
}
.ball-black-outer .ball-white-inner {
  background: radial-gradient(white, #ececec);
  border-radius: 100%;
  width: 100px;
  height: 100px;
  position: absolute;
  top: 20px;
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 15px;
  transition: all 1s;
}
.ball-black-outer .ball-white-inner .eight {
  font-size: 70px;
}

.ball-shadow {
  width: 200px;
  height: 50px;
  border-radius: 50%;
  background-color: #a0b3f2;
  opacity: 1;
  animation: scale 2s ease-in infinite;
}

@keyframes bounce {
  50% {
    transform: translateY(-10px);
  }
}
@keyframes scale {
  50% {
    transform: scale(0.9);
  }
}

/*
jboyle: The CSS and JavaScript have been reproduced with some modifications from the original; the original
can be seen here (https://codepen.io/CarliBotes/pen/vMYLdq) and is mentioned in this comment pursuant to
the license of the original code.

Original code's license below in full:

Copyright (c) 2022 by Carli Botes (https://codepen.io/CarliBotes/pen/vMYLdq)

Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
*/